<div class="container" *ngIf="project">
    <h2>{{title}}</h2>

    <div class="message success" *ngIf="status === 'success'">
        El proyecto se ha creado correctamente, puedes <a [routerLink]="['/detalle', projectCreatedId]">verlo aquí.</a>
    </div>

    <div class="message failed" *ngIf="status === 'failed'">
        El proyecto no se ha podido crear.
    </div>

    <div class="message success" *ngIf="status === 'success-edited'">
        El proyecto se ha editado correctamente.
    </div>

    <div class="message failed" *ngIf="status === 'failed-edited'">
        El proyecto no se ha podido editar.
    </div>

    <form #projectForm="ngForm" (ngSubmit)="onSubmit(projectForm)">

        <p>
            <label for="name">Nombre</label>
            <input type="text" name="name" #name="ngModel" [(ngModel)]="project.name" required/>
            <span *ngIf="name.touched && !name.valid">
                El nombre es obligatorio
            </span>
        </p>

        <p>
            <label for="description">Descripción</label>
            <textarea name="description" #description="ngModel" [(ngModel)]="project.description" required></textarea>
            <span *ngIf="description.touched && !description.valid">
                La descripción es obligatoria
            </span>
        </p>

        <p>
            <label for="category">Categoria</label>
            <input type="text" name="category" #category="ngModel" [(ngModel)]="project.category" required/>
            <span *ngIf="category.touched && !category.valid">
                La categoria es obligatoria
            </span>
        </p>

        <p>
            <label for="year">Año de lanzamiento</label>
            <input type="number" name="year" #name="ngModel" [(ngModel)]="project.year" />
        </p>

        <p>
            <label for="langs">Lenguajes utilizados</label>
            <input type="text" name="langs" #langs="ngModel" [(ngModel)]="project.langs" required />
            <span *ngIf="langs.touched && !langs.valid">
                Los lenguajes son obligatorios
            </span>
        </p>

        <p>
            <label for="image">Imagen del proyecto</label>
            <span class="image" *ngIf="project.image" style="float: none; background: none;">
                <img src="{{url + 'get-image/' + project.image}}" style="width: 100px"/>
            </span>
            <br/>
            <input type="file" name="image" placeholder="Subir imagen" (change)="fileChangeEvent(project.id, $event)" />
        </p>

        <input type="submit" value="Enviar" [disabled]="!projectForm.form.valid" />

    </form>

</div>