<div id="title">
    <h1>{{title}}</h1>
    <h2>{{subtitle}}</h2>
    <p>{{email}}</p>
</div>

<article class="about">
    <h2>Sobre mí</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. In tincidunt lectus eget nulla gravida tempus. Maecenas in nibh sit amet neque varius eleifend. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Phasellus sed
        lectus nec elit interdum molestie accumsan vitae erat. Fusce viverra faucibus enim, ut mollis ex blandit eu. Etiam vitae ante sit amet leo rutrum semper. Nunc et nibh tempor velit scelerisque convallis.
    </p>
</article>