<div class="container" *ngIf="project">
    <div class="image" *ngIf="project.image">
        <img src="{{url + 'get-image/' + project.image}}" />
    </div>
    <div class="data">
        <h1>{{project.name}}</h1>
        <h3>{{project.description}}</h3>
        <p>{{project.category}}</p>
        <p>{{project.langs}}</p>
        <p *ngIf="!willYouDelete">
            <button [routerLink]="['/editar', project._id]" class="button-edit">Editar</button>
            <button (click)="onDelete()" class="button-delete">Eliminar</button>
        </p>

        <p class="confirmation-delete" *ngIf="willYouDelete">
            <span>¿Seguro desea eliminar este proyecto?</span>
            <button (click)="onCancelDelete()" class="button-edit">No</button>
            <button (click)="onConfirmDelete(project._id)" class="button-delete">Si</button>
        </p>
    </div>
</div>